ANTHROPIC_API_KEY=sk-ant-xxx
OPENAI_API_KEY=sk-xxx
GOOGLE_API_KEY=AIzaSyB6d03v7eEjUiTtTV0VqhRzjwfJ5eBdYIA
MINIMAX_API_KEY=xxx
DASHSCOPE_API_KEY=xxx

GITHUB_TOKEN=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

# Supabase Configuration
SUPABASE_URL=https://jwjqznkvpoerhyjvwool.supabase.co
SUPABASE_ANON_KEY=sb_publishable_yg5w2kOm4lzZWSuUge_Z5g_ImpDKYFp
SUPABASE_JWT_SECRET=UjSQv5SNS+0x1+JI7uVPRy8mwpGbrnKNapE/60GKLVvTfHAqmKYBUQTVzjMBAb9bJ3uP5eXaHCFdppnbahdMSw==